<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}" />
    <title>MyBlog</title>
</head>
<body>
    <div class="background">
        <header>
            <h1>NASS's Blog</h1>
        </header>
        <main>
            <div class="menu">
                <ul>
                    <li><a href="{% url 'home' %}">전체보기({{count}})</a></li>    
                    {% for category in categorys %}
                    <li><a href="{% url 'list' category %}">{{ category }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="content">
                <a class="button flex" href="{% url 'new' %}">글쓰기</a>
                <span class="count">글 개수 ({{count}})</span>
            </div>
        </main>
    </div>
</body>
</html>