<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    {% block css %}
    {% endblock %}
    <title>Document</title>
</head>
<body>
    {% block content %}
    {% endblock %}
    <footer>
        <p>NASS's blog</p>
        <p>wwowbw222@gamil.com</p>
        <p>010-5912-1069</p>
    </footer>
</body>
</html>