<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'info.css' %}" />
    <title>fortfolio</title>
</head>
<body>
    <div class="color_bar"></div>
    <header>
        <h1>
            나성희
        </h1>
        <ul>
            <li><a class="active" href="{% url 'info' %}">info</a></li>
            <li><a href="{% url 'project' %}">project</a></li>
        </ul>
        </ul>
    </header>
    <main>
        <div class="front">
            <div class="container">
            <h2>"어제보다 나은 내가 되는"</h2>
            <p>
                지금 제가 가장 몰입하고 있는 것은 저 자신인데요,
                <br />
                항상 관심 있는 분야가 많아 다 도전하고 경험하는 편이었습니다.
                <br />
                하지만, 모두 다 한다는 것은 하나에 집중할 수 없다는 것과 같습니다.
                <br />
                경험의 깊이가 얕아 저에 대한 확신이 어려웠습니다. 
                <br />
                올해는 NEXT에 집중하면서 저를 탐구하고, 저에 대한 확신을 만들어가고 싶습니다.
            </p>
            </div>
        </div>
    </main>
</body>
</html>