<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'project.css' %}" />
    <title>fortfolio</title>
</head>
<body>
    <div class="color_bar"></div>
    <header>
        <h1>
            인스타 코딩 과제
        </h1>
        <ul class="mmenu">
            <li class="menu"><a class="active" href="{% url 'info' %}">info</a></li>
            <li class="menu"><a href="{% url 'project' %}">project</a></li>
        </ul>
        </ul>
    </header>
    <main>
    <div class="front">
        <div class="container">
            <div class="phtone"> 
                <div class="fir">
                    <div id="vec"><img src="../static/Vector.png"/></div>
                    <h1>__merryday</h1>
                </div>
                <div class="sec">
                    <img id="pro" src="https://ichef.bbci.co.uk/news/640/cpsprodpb/E172/production/_126241775_getty_cats.png"/>
                    <div id="sec_1">
                        <span>1,132</span>
                        <span>60K</span>
                        <span>4</span>
                    </div>    
                    <div id="sec_2">
                        <span>Posts</span>
                        <span>Follwers</span>
                        <span>Following</span>
                    </div>
                    </div>
                <div class="thi">
                    <p id="name">냥냥펀치</p>
                    <p id="men">고양이 보러 오세요!</p>
                    <a href="https://youtube.com/shorts/dPEpoyWVbIc?feature=share">www.cutecat.com</a>
                </div>
                <div class="fou">
                    <div id="b1">Follow</div>
                    <div id="b2">Message</div>
                </div>
                <div class="fiv">
                    <img src="../static/Post alt.png"/>
                    <img src="../static/Video (2).png"/>
                    <img src="../static/Tag.png"/>
                </div>
                <div class="six">
                    <div id="six_1">
                        <img class="six_img" src="https://c.wallhere.com/photos/a9/ed/cat_face_striped_look-660021.jpg!d"/>
                        <img class="six_img" src="https://t1.daumcdn.net/cfile/tistory/2554CB34565417D910"/>
                        <img class="six_img" src="https://t1.daumcdn.net/cfile/tistory/99E87E3F5D17FE9B22"/>
                    </div>
                    <div id="six_2">
                        <img class="six_img" src="https://th.bing.com/th/id/OIP.Gg_DU3oJIHfE0lamR0E6VAHaE8?pid=ImgDet&rs=1"/>
                        <img class="six_img" src="https://th.bing.com/th/id/R.dc5cdef0ff25912c074cc4a6b7e07f21?rik=86MHreFiGc20FA&riu=http%3a%2f%2fpostfiles7.naver.net%2f20120521_278%2fdasan_books_1337572050292lg8p7_JPEG%2f%25B0%25ED%25BE%25E7%25C0%25CC_%25BD%25BA%25C4%25DA%c6%bc%25BD%25C3%25C6%25FA%25B5%25E5.jpg%3ftype%3dw2&ehk=N1RDW78g1gqJKyiyj1EuRkhthH8IMVNlY0YA3Cx7yfY%3d&risl=&pid=ImgRaw&r=0"/>
                        <img class="six_img" src="https://th.bing.com/th/id/R.f27575a836fdb68bf2259ccc586416fd?rik=7xTXDlMyugmr7g&riu=http%3a%2f%2fkinimage.naver.net%2fstorage%2fupload%2f2010%2f10%2f13%2f81676212_1287056817.jpg&ehk=zA2RDJv32i%2f%2fQVll%2fJw79LRGrx%2fhIII%2fcKLKvwBnsnM%3d&risl=&pid=ImgRaw&r=0"/>
                    </div>
                </div>
                <div class="sev">
                    <img src="../static/Home.png"/>
                    <img src="../static/Group.png"/>
                    <img src="../static/Video.png"/>
                    <img src="../static/Shop.png">
                    <img src="../static/User.png"/>
                </div>
            </div>
            
        </div>
    </div>

    </main>

</body>
</html>